.userInputs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 1px black;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
    margin: 10px;
}
.userInputs input{
    width: 300px;
    height: 30px;
}


.loginButton{
    background-color: black;
    color: white;

}