#user-inputs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 1px black;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
    margin: 10px;
}

#register-button{
    background-color: black;
    color: white;
}

#register-button:hover{
    background-color: white;
    color: black;
}

input{
    width: 300px;
    height: 30px;
}