.container{
    border: solid 1px rgb(193, 223, 252);
    border-radius: 10px;
    background-color: rgb(240, 251, 255);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    height: 100px;
}

.note{
    grid-column: 1/-1;
}