.container{
    display: flex;
    flex-direction: column;
    padding:10px;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    gap: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    flex: 1 1 480px; /* grow, shrink, minimum width */
    width: 100%;
    max-width: 600px; /* optional cap */
}

.userInput{
    display:grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 8px 12px;
    background-color: rgb(233, 249, 255);
    padding:20px;
    border-radius: 12px;
    border: solid 1px rgb(193, 223, 252);
    
}

.dateInput, .typeSelect, .durationInput, .notes{
    border: solid 1px rgb(193, 223, 252);
    border-radius: 8px;
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding: 5px;
    background-color: rgb(233, 249, 255);
}

.trackButton{
    background-color: rgb(14, 133, 244);
    color: white;
    width: 100%;
    grid-column: 1/-1;
}

.notes{
    width: 100%;
    grid-column: 1/-1;
    resize: none;
    height: 80px;
}

.workoutsContainer{
    background-color: rgb(233, 249, 255);
    padding:20px;
    border-radius: 12px;
    border: solid 1px rgb(193, 223, 252);
}

.workoutInformation{
    display:grid;
    grid-template-columns: 1fr;
    gap: 20px;
    height: 300px;
    overflow: auto;
}

