@import "tailwindcss";

:root{
    --color-bg: rgb(241, 241, 241);
    --color-accent: rgb(148, 223, 243);
    --color-accent2: rgb(146, 241, 94);
    --color-text: rgb(21, 21, 21);
    --color-border: rgb(206, 206, 206);
}